/*animation.css*/

#wrap{margin:auto;width: 60rem; height: 60rem;  min-height: 10rem;
      background-color: #fff ;}
h1{margin-bottom: 1rem;padding:1rem;text-align: center;border-bottom: 1px solid #333;}

h2{width: 100%; height: auto;padding:1rem; box-sizing: border-box;
    background-color: #59a; color: #fff; text-indent: 2rem;
    margin-bottom: 0.5rem;}
 .out_box{width: 100%; height: auto;background-color: #caa;}
  .out_box>ul{width: 100%; height: auto;}
  .out_box>ul:after{content: "";display: block;width: 100%;height: 0 ; clear: both;}
  .out_box li{float: left;margin: 1rem; width: 100px; height: 100px; border-radius: 50px;
    background-color: #0af;text-align: center; line-height: 100px; font-size: 1.5rem; color: #fff;
    font-weight: bold;}

.out_box li:nth-child(1):hover{background-color: #f06;}/* 단순하게 변화*/
.out_box li:nth-child(2):hover{background-color:#f60f;height: 200px;transition-property:height,background-color ;transition-duration:1000ms;}
/*최소 위 두개들어감*/
.out_box li:nth-child(3):hover{height: 300px;transition-duration: 500ms;transition-property: height;
transition-timing-function: cubic-bezier(.15,.92,.62,.03);}
.out_box li:nth-child(4):hover{font-size: 3rem;
  transition-delay: 150ms;transition-property: font-size; transition-duration: 500ms}
.out_box li:nth-child(5):hover{height:300px;background-color: #fa0; transform: translateY(3rem);
transition: all 1000ms ease 500ms; }
.out_box li:nth-child(6){transition: all 1000ms linear;}
.out_box li:nth-child(6):hover{background-color: #171717;text-shadow: 0.5rem 0.5rem 0.5rem #fff;}
.out_box li:nth-child(6):active{text-shadow: 0.3rem 0.3rem 0.3rem #ff0 inset;}
.out_box li:nth-child(7){transition: all 500ms ease;}
.out_box li:nth-child(7):hover{height: 300px; background-color: #f90;}

/*transition
transition이란? css의 변화를 부드럽게 animation기능으로 처리되는 형태를 만드는것을
              말한다.*/
/*
*transition-duration:; -- 변화하는 시간 기본은 초단위 , 1초(1s) 1000ms
*transition-property:; -- 어떤 속석을 변화시킬것인가?
*transition-timing-function:; -- 변화의 흐름에대한 속도를 어떻게 처리할 것인가?
              ease(빨라지다가 느리게 자연스럽게) / ease-in(점점 빠르게) / ease-out(점점느리게) / 
              ease-in-out(빨라지다가 느리게) / linear(같은속도로) / cubic-bezier() (사용자 지정)
*transition-delay:; -- 지연시간: 얼마의 시간뒤에 transition기능을 수행할 것인가;

*transition:property duration timing-function delay; -
- transition이 갖는 속성을 하나로 뭉쳐서 처리하는 기능
-작성된 시간은 앞 진행시간 , 뒤 지연시간
-가급적으면 순서를 지켜서 속성값을 작성해야한다.
*transition 작성시 : hover / :active / :focus 등등 
               기존형태에서 변화의 시점을 던져주는 상황(이벤트 발생시점)에  transitiom을 작성하면
               원래대로 돌아갈 때에는 transition기능이 적용되지 않는다;
*/

#line_box{margin: auto;width: 900px; height: 500px;}
.card_01{position: relative;float: left;width: 300px; height: 500px; background-color: #ccc}
.card_02{position: relative;float: left;width: 300px; height: 500px; background-color: #555}
.card_03{position: relative;float: left;width: 300px; height: 500px; background-color: #999}

.card_01 li{display: block;background-color: #05f}
.card_01 li:nth-child(1){position: absolute;top:0; width:0;height:20px;}
.card_01 li:nth-child(2){position: absolute;right: 0 ;height:0;width:20px;}
.card_01 li:nth-child(3){position: absolute;right: 0;width:0;bottom: 0 ;height:20px;}
.card_01 li:nth-child(4){position: absolute;bottom: 0;height:0;left: 0 ;width:20px;}

/*.card_01:hover.card_01 li:nth-child(1){transition: all 500ms ease;}*/
.card_01:hover li:nth-child(1){width:300px;transition: all 500ms ease;}
.card_01 li:nth-child(1){width:0;transition: all 500ms ease;transition-delay:1200ms;}
.card_01:hover li:nth-child(2){height: 500px;transition: all 500ms ease;transition-delay:400ms;}
.card_01 li:nth-child(2){height:0;transition: all 500ms ease;transition-delay:800ms;}
.card_01:hover li:nth-child(3){width: 300px;transition: all 500ms ease;transition-delay:800ms;}
.card_01 li:nth-child(3){width:0;transition: all 500ms ease;transition-delay:400ms;}
.card_01:hover li:nth-child(4){height: 500px;transition: all 500ms ease;transition-delay:1200ms;}
.card_01 li:nth-child(4){height:0;transition: all 500ms ease;}

.card_02 li{display: block;background-color: #05f}
.card_02 li:nth-child(1){position: absolute;top:0; width:0;height:20px;}
.card_02 li:nth-child(2){position: absolute;right: 0 ;height:0;width:20px;}
.card_02 li:nth-child(3){position: absolute;right: 0;width:0;bottom: 0 ;height:20px;}
.card_02 li:nth-child(4){position: absolute;bottom: 0;height:0;left: 0 ;width:20px;}

/*.card_01:hover.card_01 li:nth-child(1){transition: all 500ms ease;}*/
.card_02:hover li:nth-child(1){width:300px;transition: all 500ms ease;}
.card_02 li:nth-child(1){width:0;transition: all 500ms ease;transition-delay:1200ms;}
.card_02:hover li:nth-child(2){height: 500px;transition: all 500ms ease;transition-delay:400ms;}
.card_02 li:nth-child(2){height:0;transition: all 500ms ease;transition-delay:800ms;}
.card_02:hover li:nth-child(3){width: 300px;transition: all 500ms ease;transition-delay:800ms;}
.card_02 li:nth-child(3){width:0;transition: all 500ms ease;transition-delay:400ms;}
.card_02:hover li:nth-child(4){height: 500px;transition: all 500ms ease;transition-delay:1200ms;}
.card_02 li:nth-child(4){height:0;transition: all 500ms ease;}

.card_03 li{display: block;background-color: #05f}
.card_03 li:nth-child(1){position: absolute;top:0; width:0;height:20px;}
.card_03 li:nth-child(2){position: absolute;right: 0 ;height:0;width:20px;}
.card_03 li:nth-child(3){position: absolute;right: 0;width:0;bottom: 0 ;height:20px;}
.card_03 li:nth-child(4){position: absolute;bottom: 0;height:0;left: 0 ;width:20px;}

/*.card_01:hover.card_01 li:nth-child(1){transition: all 500ms ease;}*/
.card_03:hover li:nth-child(1){width:300px;transition: all 500ms ease;}
.card_03 li:nth-child(1){width:0;transition: all 500ms ease;transition-delay:1200ms;}
.card_03:hover li:nth-child(2){height: 500px;transition: all 500ms ease;transition-delay:400ms;}
.card_03 li:nth-child(2){height:0;transition: all 500ms ease;transition-delay:800ms;}
.card_03:hover li:nth-child(3){width: 300px;transition: all 500ms ease;transition-delay:800ms;}
.card_03 li:nth-child(3){width:0;transition: all 500ms ease;transition-delay:400ms;}
.card_03:hover li:nth-child(4){height: 500px;transition: all 500ms ease;transition-delay:1200ms;}
.card_03 li:nth-child(4){height:0;transition: all 500ms ease;}



/*multi_link*/
 h3{width: 100%; height: 50px;padding:1rem; box-sizing: border-box;
    background-color: #000; color: #fff; text-indent: 2rem;
    margin-bottom: 0.5rem}
.multi_link{width: 100; height: 20rem;background-color: #cac; 
            background-image: url(../../img/kaku.jpg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 130% auto;}
.multi_link>ul{width:100%;height:100%; background-color: rgba(50,15,20,0.5);}
.multi_link>ul>li{float: left;width: 20%;height:100%
                  ;border-right: 1px solid #fff;box-sizing: border-box;}
.multi_link>ul>li:last-child{border: 0;}
.multi_link a{display: block;padding: 5rem 1rem;box-sizing: border-box;width:100%;height:100%;transition: all 500ms ease;font-size: 1.1rem;color:#fff;}

.link_wrap{width:100%;height:100%;transition: all 500ms ease;}
 .link_wrap>i{position: relative;margin: auto;margin-bottom: 0.5rem; display: block;width: 2rem;height: 2rem;border-radius:50%;border:2px solid #fff;box-sizing: border-box;text-align: center;line-height: calc(2rem - 4px);font-size: 1.5rem;font-weight:bold;font-style: normal;transition:all 500ms ease-in;} 
.link_wrap>i:after{content: "+";display: block;position:absolute;top:31px;left: 0
                    ;width:105%;height:105%;border-radius: 50%;background-color: #fff;
                    color: #171717;transform:scale(0);}


 .link_wrap>h4{width:100%;height:auto;margin-bottom: 0.5rem;font-weight: normal;font-size: 0.875rem;transition: all 500ms ease;}                          
 .link_wrap>h5{margin-bottom: 1.5rem;width:100%;height:auto;font-size: 1.2rem;transition: all 500ms ease}
 .link_wrap>h5::first-letter{text-transform: uppercase;}
 .link_wrap>p{line-height: 110%;font-size: 1rem;background-color: transparent; text-align: left;font-weight: normal;opacity: 0;transition: all 500ms ease}



.multi_link a:hover,
.multi_link a:focus{background-color:rgba(0,0,0,0.7);}

.multi_link a:hover i:after,
.multi_link a:focus i:after{transform:translateY(-2rem);}
.multi_link a:hover i:after,
.multi_link a:focus i:after{transform:translateY(-2rem);}

.multi_link a:hover>.link_wrap h4,
.multi_link a:focus>.link_wrap h4{transform: translateY(-2rem);}

.multi_link a:hover>.link_wrap h5,
.multi_link a:focus>.link_wrap h5{transform: translateY(-2rem);}


.multi_link a:hover>.link_wrap p,
.multi_link a:focus>.link_wrap p{opacity: 1;transform:translateY(-2rem);}

/*=======================animation===================*/

.ani_nrr{font-size: 1rem; line-height: 1.2; text-align: left;}
.ani_box{margin-bottom: 5rem;width: 100% ; height: 1000px; background-color: #fac;}
.check{width: 30px; height: 30px; margin-left: 1rem;}
.ani_box>ul{width: 100% ; height:100% ; padding-top:1rem;}
.ani_box li{margin: 1rem; width: 50px; height: 50px;border-radius: 25px;
              background-color: #069;text-align: center; line-height: 50px; color: #fff;}
.ani_box li:nth-child(1){animation-name:oneFrame;animation-duration:1000ms;
    animation-iteration-count: 1;animation-timing-function: linear;}

@keyframes oneFrame{
  from{transform: translate(0);background-color: #0af;}
  to{transform:translate(30rem);background-color: #f06;}
}            


.ani_box li:nth-child(3){
  animation-name: twoFrame;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes twoFrame{
0%{transform:translate(0) rotate(0deg) ;}
0%{transform:translate(30rem) rotate(720deg) ;} 

.ani_box li:nth-child(4){
 animation-name:threeFrame;
 animation-duration: 1000ms;
 animation-direction: alternate;
 animation-iteration-count: infinite;
 animation-play-state: running;
}
.ani_box:hover li:nth-child(4){animation-play-state: running;}
@keyframes threeFrame{
0%{transform:translate(0) rotate(0deg) ;}
100%{background-color:  ;width: ;transform:rotate(720deg) ;} 

}
/*.check:checked + ul>li{transform: translate(10rem);transition: all 1000ms;}*/


/*anmation
animation 이란 ? transtion과 달리 반복성을 가지거나, 단일성이 아닌 여러 복합성의
기능을 수행할때

anmation-name:; --animation 기능을 수행할 함수(@keyframes)를 선택
anmation-duration:; --animation 진행할 시간
anmation-drection:; --anmation이 종료 후 진행할 방향 설정
anmation-fill-mode:; --animation 시작하기전 후 어떻게 적용할 것인가
anmation-iteration-count:; --animation 반복 여부 , 무한반복( infinite )
anmation-timing-function:; --속도조절
anmation--play-state:;     --멈춤 , 재생 설정
anmation-delay:;          --지연시간

----------------------------------------------------------------------------------


* @keyframes{} 
* @keyframes란? animation 에서 지정한 이름의 기능을 수행하기 위한 처리 내용,일종의 함수
* @keyframes는 선택자 내부에 작성하는것이 아니다.

@media screen() {}
@charset "";
@import url ();
@keyframes {}

div{}

var Fbox = function(){};
Fbox();
@keyframes xxx{}
div{animation-name:xxx;}
*/
