/*nc_main_labtop.css*/


/*labtop 960px=====================================================*/
@media screen and (min-width:769px) and (max-width: 1366px){
/*laptop common   =========== */
.mgnb{display: block; width: 0; height: 0; overflow: hidden;position:relative; z-index: -100;}
/*laptop common end===========*/
#wrap{background-color: #ccc;}
#headBox{position: relative;
         padding: 2.5vw 1.041666vw 2.5vw 1.041666vw;
         /*24/960*100,10/960*100*/ 
         box-sizing: border-box;
         width: 100% ; height:120px;background-color:#556;}

  h1{float:left;margin: auto;width:40.625vw;/*390/960*100*/ 
     height:7.5vw;/*72/960*100*/background-color: #fff; text-align:center;line-height: 7.5vw;/*72/960*100*/font-size: 2rem;}
  #gnb{position: absolute; bottom: 2.5vw;right: 1.041666vw;/*10/960*100*/float: right; width: 51.041666vw;/*490/960*100*/ 
       height:3.125vw;/*30/960*100*/ background-color: #fff;}
#media{width:100%; height: 630px; background-color:#fff;}
#container{width: 100%;height: 500px; background-color: #555;}
  .mainBox{width:430px; height:500px; background-color:#333 ;}

   

  .conBox{width:430px; height:500px; background-color:#ccc ;}

#sectionBox{width:100%; height:800px;  background-color: #aaa;}
#artBox{width: 100%; height:938px;  background-color: #666;}
#footBox{width:100%; height:257px;  background-color: #556;}
} /*labtop 960px end==============================================*/