/*nc_main_labtop.css*/


/*labtop 960px=====================================================*/
@media screen and (min-width:769px) and (max-width: 1366px){
/*laptop common   =========== */
.mgnb{display: block; width: 0; height: 0; overflow: hidden;position:relative; z-index: -100;}
/*laptop common end===========*/
#wrap{background-color: #ccc;}
#headBox{position: relative;
         padding: 2.5vw 1.041666vw 2.5vw 1.041666vw;
         /*24/960*100,10/960*100*/ 
         box-sizing: border-box;
         width: 100% ; height:12.5vw;/*120/960*100*/ background-color:#556;}

  h1{float:left;margin: auto;width:13.020833vw;/*125/960*100*/ 
     height:2.604166;/*25/960*100*/background-color: #fff; text-align:center;line-height: 7.5vw;/*72/960*100*/font-size: 2rem;}
  #gnb{position: absolute; bottom: 1.5rem;right: 1.041666vw;/*10/960*100*/float: right; width: 62.5vw;/*600/960*100*/ 
       height:1.875rem;background-color: #ccc;;}

   #gnb>ul>li{display: block;float:left;padding:0.5rem;width: 20%; height: 100%;
              border-right:1px solid #000; box-sizing: border-box;background-color: #fff;
              text-align: center;font-weight: bold;font-size:0.75rem;} 

     
#media{width:100%; height: 65.625vw;/*630/960*100*/ background-color:#fff;}
#container{width: 100%;height: 31.25rem; background-color: #555;}
 #conWrap{margin: auto;width: 100vw;/*769/769*100*/ max-width: 60rem; height: 31.25rem;}
  .mainBox{float: left;width:50%;height:31.25rem; background-color:#333 ;}

   

  .conBox{float: right;width:50%;height:31.25rem; background-color:#ccc ;}

#sectionBox{width:100%; height:800px;  background-color: #aaa;}
#artBox{width: 100%; height:938px;  background-color: #666;}
#footBox{width:100%; height:257px;  background-color: #556;}
} /*labtop 960px end==============================================*/