/*rwd_03_laptop.css*/
/*pc 1366 =================================*/
@media screen and (min-width: 769px) and(max-width: 85.375rem) {
/*device 기준크기는 : 1366px 입니다*/
 #wrap {background-color: #f50}
 #addBanner{height: 32.942899vw; /* 450/1366*100 */ min-height: 102.062rem; }
 #infoBox{height: 12.5rem;}
 #contentBox{height: 33.75rem;}
}/*===============pc end======================*/